html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #090C10 !important;
    padding-top: 70px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* vertical spacing between columns */
  
  [class*="col-"] {
    margin-bottom: 30px;
  }
  
  .content {
    height: 100%;
    padding: 20px 20px 10px;
    color: #fff;
  }
  
  .navbar {
    background-color: #161B22 !important;
  }

  footer {
    flex-grow: 0;
    padding: 15px 0;
    display: block;
  }